.footer {
  width: 97.5vw;
  height: 40vh;
  margin: 0 10px 10px;
  background: #292929;
  color: #fff;

  .fter {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    border-bottom: 0.4px solid #c6c6c6;
  }
}
