.nav {
  display: flex;
  align-items: center;
  width: 91vw;
  justify-content: space-between;
  padding: 16px 24px;
  margin: 10px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  background: transparent;

  .navlinks {
    display: flex;
    align-items: center;
    gap: 30px;

    .navlink {
      height: 24px;
      overflow: hidden;

      .linkTexts {
        transition: all 0.5s ease-in-out;
      }
      .linkTexts:hover {
        transform: translateY(-24px);
        text-decoration: underline;
        text-decoration-line: 5px solid;
      }
    }
  }

  .button {
    background: #d6ff01;
    padding: 15px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 122px;
    height: 48px;
  }
}

.active {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #fff;
  // border-radius: 20px;
  // box-shadow: 0 1px 15px 1px rgb(151, 148, 148);
  box-shadow:
    rgba(0, 0, 0, 0.11) 0px 0.48175px 2.40875px -1.16667px,
    rgba(0, 0, 0, 0.098) 0px 1.83083px 9.15413px -2.33333px,
    rgba(0, 0, 0, 0.047) 0px 8px 40px -3.5px;
}
