.nav {
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 10px 30px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  background: transparent;

  .navlinks {
    display: flex;
    align-items: center;
    gap: 30px;

    .navlink {
      height: 24px;
      overflow: hidden;

      .linkTexts {
        transition: all 0.5s ease-in-out;
      }
      .linkTexts:hover {
        transform: translateY(-24px);
      }
    }
  }

  .button {
    background: #d6ff01;
    padding: 15px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 122px;
    height: 48px;
  }
}

.active {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 1px 5px 2px rgb(202, 202, 202);
}
